#events {
	position: relative;
	background: #F0F0F0;
	overflow: hidden;
	text-align: center;

	h2 {
		font: 200 36px/1.2 $secondary-font;
		margin: 15px;
		color: #54baba;
		text-transform: uppercase;

		a {
			text-decoration: none;
		}
	}

	.slideshow {
		max-width: $break-desktop-large;
		margin: 0 auto;
		overflow: hidden;
	}

	.slideshow-wrapper {
		font-size: 0;
		white-space: nowrap;
	}

	.event {
		position: relative;
		display: inline-block;
		width: 33.33%;
		height: 666px;
		overflow: hidden;
		vertical-align: top;
		white-space: normal;

		@include respond-to(mobile) {
			width: 100vw;
			height: 580px;
			margin: 0;
		}

		.thumbnail {
			position: relative;
			width: 100%;
			height: 350px;
			background-position: 50% 50%;
			background-size: cover;
			overflow: hidden;

			@include respond-to(mobile) {
				height: 266px;
			}

			&.no-thumbnail {
				background: #dbdbdb;
			}

			.loading {
				@include loading-icon();
			}
		}

		.date {
			display: block;
			position: relative;
			margin: 34px 0 37px;
			color: #525252;
			font-size: 17px;
			line-height: 23px;
			text-transform: uppercase;

			@include respond-to(mobile) {
				margin: 20px 0;
			}

			a {
				color: inherit;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}

			&:after {
				content: "";
				display: block;
				width: 180px;
				height: 1px;
				position: absolute;
				bottom: -15px;
				left: 50%;
				transform: translateX(-50%);
				background: #E0E0E0;

				@include respond-to(mobile) {
					bottom: -8px;
				}
			}
		}

		h3 {
			font: 200 24px/1.33 $secondary-font;
			color: #54baba;
			margin-bottom: 16px;
			text-transform: uppercase;

			@include respond-to(mobile) {
				font-size: 20px;
			}
		}

		p {
			font-size: 15px;
			line-height: 1.33;
			color: #525252;

			@include respond-to(mobile) {
				font-size: 14px;
			}
		}

		.copy {
			padding: 0 20px;

			@include respond-to(mobile) {
				padding: 0 10px;
			}
		}

		.button {
			position: absolute;
			bottom: 40px;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	.slideshow-pagination {
		margin: 20px 0;
		text-align:center;
		font-size:0;

		@include respond-to(mobile) {
			display: none;
		}

		> * {
			display: inline-block;
			width: 10px;
			height: 10px;
			margin: 0 5px;
			text-indent: -9999px;
			overflow: hidden;
			background: #327d7d;
			border-radius:50%;
			transition: background $transition;
			cursor: pointer;

			&:hover, &.active {
				background: #54baba;
			}
		}
	}
}