.admin .preview-item {
	overflow: hidden;
	margin: 0;
	padding: 20px;
	height: auto;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;

	.promo {
		.thumbnail {
			img {
				display: block;
				width: 100%;
			}
		}
	}
}

#promos {
	position: relative;
	z-index: 30;

	.slideshow {
		max-width: $break-desktop-large;
		margin: 0 auto;
		overflow: hidden;
	}

	.slideshow-wrapper {
		font-size: 0;
		white-space: nowrap;
	}

	.promo {
		position: relative;
		display: inline-block;
		width: 33.33%;
		vertical-align: top;
		overflow: hidden;
		white-space: normal;
		background: #266060;
		color: #fff;

		.inner-wrapper {
			width: 100%;
			padding-top: 100%;
		}

		.thumbnail {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-position: 50% 50%;
			background-size: cover;
			transform: scale(1.1);
			transition: transform 600ms;

			&:after {
				content: "";
				display: block;
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				background: rgba(0, 0, 0, 0.25);
			}

			.loading {
				@include loading-icon();

				&:before {
					top: 8%;
					right: 8%;
					left: auto;
					margin: auto;
				}
			}
		}
		&:hover {
			.thumbnail {
				transform: scale(1);
			}
		}

		.content {
			position: absolute;
			bottom: 25px;
			left: 30px;
			right: 30px;
		}

		h3 {
			font-family: $secondary-font;
			font-weight: normal;
			font-size: 28px;
			line-height: 38px;
			margin-bottom: 12px;
			text-transform: uppercase;

			a {
				color: inherit;
				text-decoration: none;
			}
		}

		p {
			font-size: 13px;
			line-height: 16px;
			margin-bottom: 20px;
		}

		.price {
			font: 15px/32px $secondary-font;
			margin-bottom: 20px;

			strong {
				font-weight: bold;
				font-size: 20px;
			}
		}

		.promo-button {
			display: block;
			font-size: 18px;
			margin-top: 14px;
			line-height: 24px;
			text-decoration: none;
			color: #fff;
			text-transform: uppercase;

			&:hover {
				text-decoration: underline;
			}
		}

		@include respond-to(wide) {
			.content {
				bottom: 40px;
				left: 40px;
				right: 40px;
			}
		}

		@include respond-to(tablet) {
			width: 50%;
		}

		@include respond-to(mobile) {
			width: 83%;
		}
	}

	.slideshow-pagination {
		margin-top: 20px;
		text-align:center;
		font-size:0;

		@include respond-to(mobile) {
			display: none;
		}

		> * {
			display: inline-block;
			width: 10px;
			height: 10px;
			margin: 0 5px;
			text-indent: -9999px;
			overflow: hidden;
			background: #327d7d;
			border-radius:50%;
			transition: background $transition;
			cursor: pointer;

			&:hover, &.active {
				background: #54baba;
			}
		}
	}
}