// Forms

.form {
	display:block;
	margin-bottom:20px;

	@include respond-to(mobile) {
		text-align: left;
	}

	.ui-menu-item a {
		text-align:left;
	}

	h3 {
		text-align:left;
		margin-top:20px;
		padding-bottom:10px;
		border-bottom:1px solid #e2e2e2;
	}

	label {
		width:40%;
		line-height:1.2;
		margin:12px 20px 0 0;
		float:left;
		text-align:right;

		@include respond-to(mobile) {
			display: block;
			float: none;
			margin: 0 0 20px;
			text-align: left;
			width: auto;
		}

		em {
			color:#b31919;
			font-size:16px;
			font-weight:normal;
			line-height:10px;
			padding-right:5px;
		}

	}

	p {
		margin-bottom:10px;

		@include respond-to(mobile) {
			margin-bottom: 20px;
		}

		@include clear-after;

		span {
			float:left;
			margin:0 10px 0 0;

			&.checkbox-group {
				margin-bottom:10px;
			}

			input {
				display:inline;
				float:none;
				margin:0;
			}

			label {
				display:inline;
				float:none;
				width:auto;
				text-align:left;
			}

			&.group label {
				display:block;
				margin-bottom: 10px;

				input { margin-right:.4em; }
			}
		}
	}

	input[type='text'], input[type='date'], textarea, select, .input-overlay {
		background: #fff;
		color:#53565a;
		height: 40px;
		padding: 0 10px;
		resize:none;
		width:250px;
		border: 1px solid #d1d1d1;
		font-size: 14px;
		line-height: 40px;

		@include respond-to(mobile) {
			padding: 0 20px;
			width: 100%;
			text-align:left;
		}
	}
	.input-overlay {
		opacity: 0;
		margin-top: -40px;
	}

	@include respond-to(mobile) {
		.select-wrapper {
			width: 100%;
		}
	}

	textarea {
		height:100px;
		overflow:auto;
		line-height:20px;
		padding:10px;
	}

	input[type='checkbox'],
	input[type='radio'] {
		width:14px;
		height:14px;
		padding: 0;
		vertical-align: top;
	}
	input[type='radio'] {
		margin-top: 12px;

		@include respond-to(mobile) {
			margin-top: 0;
		}
	}

	.group {
		input[type='radio'] {
			margin-top: 0;
		}
	}

	.datepicker-input-wrapper {
		float: left;

		@include respond-to(mobile) {
			float: none;
		}
	}

	input.date-pick, .input-overlay {
		width:100px;
		float:left;

		@include respond-to(mobile) {
			float: none;
			display: block;
			width: 100%;
		}
	}
	.input-overlay {
		clear: both;
	}

	.ui-datepicker-trigger {
		float:left;
		position:static;
		margin:13px 0 0 6px;

		@include respond-to(mobile) {
			display:none;
		}
	}

	.controls {
		p {
			padding:20px 0 0 40%;
			width:auto;
			background:none;
			@include respond-to(mobile) {
				padding: 0;
				text-align: center;
			}
		}

		.button {
			margin-left: 20px;

			@include respond-to(mobile) {
				display: inline-block;
				margin: 0;
			}
		}
	}

}