.ui-datepicker {
	display: none;
	padding: 10px;
	background: rgba(255, 255, 255, 0.9);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.09), 0 6px 6px rgba(0, 0, 0, 0.12);
	z-index: 10;

	body > & {
		z-index: 30;
	}

	&:after {
		display: block;
		content: "";
		height: 0;
		overflow: hidden;
		clear: both;
	}

	@include respond-to(mobile) {
		width: calc(100% - 20px);
	}
}

.ui-datepicker-header {
	position: relative;
	margin-bottom: 6px;
	font-size: 16px;
	line-height: 26px;
	text-transform: uppercase;
	text-align: center;
	color: #54baba;
}

.ui-datepicker-prev,
.ui-datepicker-next {
	position: absolute;
	top: 0;
	width: 26px;
	height: 26px;
	text-indent: -9999px;
	overflow: hidden;
	cursor: pointer;
	user-select: none;
	z-index: 20;

	&:after {
		content: "";
		position: absolute;
		left: 6px;
		top: 8px;
		width: 10px;
		height: 10px;
		border: 2px solid #327d7d;
		border-bottom: 0;
		border-left: 0;
		transform: rotate(45deg);
		transition: border-color $transition;
	}

	&.ui-state-disabled {
		opacity: 0.3;
	}
}
.ui-datepicker-prev {
	left: 5px;

	&:after {
		left: 10px;
		border-right: 0;
		border-top: 0;
		border-left: 2px solid #327d7d;
		border-bottom: 2px solid #327d7d;
	}
	&:not(.ui-state-disabled):hover:after {
		border-bottom-color: #54baba;
		border-left-color: #54baba;
	}
}
.ui-datepicker-next {
	right: 5px;

	&:not(.ui-state-disabled):hover:after {
		border-top-color: #54baba;
		border-right-color: #54baba;
	}
}

.ui-datepicker-calendar {
	cursor: default;
	margin: 0 auto;
	width: 252px;
	table-layout: fixed;

	@include respond-to(mobile) {
		width: 100%;
	}

	th,
	td {
		line-height: 32px;
		text-align: center;
		vertical-align: middle;
		text-align: center;
	}

	th {
		font-size: 14px;
		font-weight: bold;
		color: #000;
		text-transform: uppercase;
	}

	td {
		font-size: 12px;
		color: #000;

		&.ui-datepicker-other-month,
		&.ui-state-disabled {
			color: #a9a9a9;

			span {
				&:hover {
					color: inherit;
					background: none;
				}
			}
		}
	}

	a {
		display: inline-block;
		width: 100%;
		height: 100%;
		text-decoration: none;
		color: inherit;
	}
	.ui-datepicker-today a {
		background: #ccc;
	}
	.ui-datepicker-highlight a,
	.ui-datepicker-current-day a,
	.ui-state-default:hover {
		background: #54baba;
		color: #fff;
	}
}

.ui-datepicker-trigger {
	float: left;
	margin: 13px 0 0 8px;
	width: 17px;
	height: 15px;
	text-indent: -9999px;
	overflow: hidden;
	background: url($main-sprite) 0 -123px no-repeat;

	&:hover {
		background-position: -37px -123px;
	}
}
